// Display a Javascript alert
<% if remotipart_submitted? %>
$("#notice").html("<embed src='<%= @fax.fax.url %>#zoom=20' height='10%' width='100%' /><p>Your browser does not support iframes.</p>");
<% else %>
$("#notice").html("<embed src='<%= @fax.fax.url %>#zoom=20' height='10%' width='100%' /><p>Your browser does not support iframes.</p>");
<% end %>
