var response = '<%= @status.to_json %>';
var json_response = JSON.parse(response.replace(/&quot;/g,'"'));
var data = json_response.data;
var number = data.recipients[0].number;

if(data.status == "inprogress") {
  if(data.recipients[0].status == "willretry") {
    var count = data.recipients[0].retry_count;
    $(".status label").text("Tentativa " + count + " de 3 de envio. Aguarde...");
    get_status();
  }
  else {
    if(data.recipients[0].status == "inprogress") {
      $(".status label").text("Iniciando envio. Aguarde...");
      get_status();
    }
    else {
      if(data.recipients[0].status == "callactive") {
        $(".status label").text("Chamando. Aguarde...");
        get_status();
      }
      else {
        if(data.recipients[0].status == "success") {
          success();
        }
        else {
          failure();
        }
      }
    }
  }
}
else {
  if(data.status == "failure") {
    failure();
  }
  else {
    if(data.status == "queued") {
      $(".status label").text("Enviando fax ao servidor. Aguarde...");
      get_status();
    }
    else {
      if(data.status == "success") {
        success();
      }
      else {
        failure();
      }
    }
  }
}

function get_status() {
  $.ajax({
    type: "POST",
    url: "/get_fax_status",
    data: {fax_id: data.id}
  });
}

function failure() {
  $("#loader").hide();
  $(".status label").hide();
  $(".alert").hide();
  $(".alert").html("Não foi possível efetuar o envio. A chamada não foi completada.<br>");
  $(".alert").append("<a href='/'>Voltar a tela inicial</a>");
  $(".alert").css("margin-bottom", "20px");
  $(".alert").addClass("alert-danger");
  $(".alert").show();

  $("#send_fax").text("Enviar fax novamente");
  $(".send_fax").show();
}

function success() {
  $(".status label").text("Fax enviado com sucesso para: " + number);
  $("#loader").hide();
  $(".alert").hide();
  $(".alert").html("Fax enviado com sucesso! Obrigado por utilizar nossos serviços.<br>");
  $(".alert").append("<a href='/'>Enviar outro fax</a>");
  $(".alert").css("margin-bottom", "20px");
  $(".alert").addClass("alert-success");
  $(".alert").show();
}