<div class="content">
  <div class="main_panel">
    <div class="form_panel">
      <div class="top">
        <p>
          Envie seu fax pela internet em apenas alguns instantes
        </p>
      </div>
      <div class="number">
        <p>
          Número do Destinatário
        </p>
        <div class="bubble bubble_country_code">This is a tip</div>

        <input type="text" id="country_code" class="form-control input-lg" value="55" />
        <input type="text" id="ddd" class="form-control input-lg" placeholder="DDD" />
        <input type="text" id="number" class="form-control input-lg" placeholder="Número" />
        <a href="#" class="btn btn-primary btn-lg">Enviar Fax</a>

        <div class="bubble bubble_ddd">This is a second tip</div>
      </div>
    </div>
  </div>
</div>
