<div class="content">
  <div class="main_panel">
    <div class="form_panel">
      <div class="top">
        <p>
          Envie seu fax pela internet em apenas alguns instantes
        </p>
      </div>
    </div>
  </div>
</div>
