// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  width: 100%;
}

.main_panel {
  height: 350px;
  width: 75%;
  box-shadow: inset 0 0 80px #387593, 0 0px 1px #ffffff;
  border-radius: 5px;
  background-color: #3c8cb2;
  margin: auto;
}

.main_panel .form_panel {
  position: relative;
  top: 7.5%;
  left: 4%;
  height: 85%;
  width: 92%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
}

.form_panel .top {
  width: 100%;
  height: 50px;
  background-color: #dddddd;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

.form_panel .top p {
  position: relative;
  top: 10px;
  font-size: 24px;
  color: #555555;
  text-shadow: 0px 1px 2px #fff;
}

.form_panel .number {
  position: relative;
  width: 90%;
  margin: auto;
  top: 10px;
}

.number p {
  position: relative;
  color: #24272b;
  font-size: 16px;
  left: 3px;
}

.number input {
  display: inline;
}

.number input + input {
  margin-left: 14px;
}

.number #country_code {
  width: 10%;
}

.number #ddd {
  width: 10%;
}

.number #number {
  width: 40%;
}

.number a {
  position: relative;
  width: 30%;
  top: -3px;
  margin-left: 15px;
}

/* tooltip */
.bubble {
  position: absolute;
  top: 100px;
  background-color: #eee;
  margin: 0;
  padding: 10px;
  text-align: center;
  width: 180px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  z-index: 999;
  display: none;
}
.bubble:after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent transparent #eee transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  top: -20px;
  left: 10%;
}

.bubble_ddd {
  left: 12%;
}

.bubble_country_code p {
  display: block;
  font-size: 10px;
  text-align: left;
  cursor: pointer;
}

.bubble_country_code p:hover {
}

.bubble_country_code img {
  height: 30px;
  width: 30px;
}

.bubble_country_code label {
  margin-left: 5px;
  cursor: pointer;
}

.bubble_country_code label:hover {
  text-decoration: underline;
}

.flag {
}
